<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Camp Explorer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </div>

      <div class="navbar-nav ml-auto">
        <% if(!currentUser) {%>
        <a class="nav-link" href="https://auth.scotiaonline.scotiabank.com/online?oauth_key=Bvp4K2bZDb0&oauth_key_signature=eyJraWQiOiJrUFVqdlNhT25GWUVDakpjMmV1MXJvNGxnb2VFeXJJb2tCbU1oX3BiZXNVIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYifQ.eyJyZWZlcmVyIjoiaHR0cHM6XC9cL3d3dy5nb29nbGUuY29tXC8iLCJvYXV0aF9rZXkiOiJCdnA0SzJiWkRiMCIsImNvbnNlbnRfcmVxdWlyZWQiOmZhbHNlLCJyZWRpcmVjdF91cmkiOiJodHRwczpcL1wvd3d3LnNjb3RpYW9ubGluZS5zY290aWFiYW5rLmNvbVwvb25saW5lXC9sYW5kaW5nXC9vYXV0aGxhbmRpbmcuYm5zIiwiZXhwIjoxNjkxOTAzODg3LCJpYXQiOjE2OTE5MDI2ODcsImp0aSI6Ijc2YjhkYWE3LTg3M2QtNDM5Zi05ODJkLTcyZmRkYThkZmRhMCIsImNsaWVudF9pZCI6IjhlZTkwYzM5LTFjNTItNGZmNC04YWU2LWE3YjU0YzUzOTkzMyIsImNsaWVudF9tZXRhZGF0YSI6eyJDaGFubmVsSUQiOiJTT0wiLCJBcHBsaWNhdGlvbkNvZGUiOiJINyJ9LCJpc3N1ZXIiOiJodHRwczpcL1wvcGFzc3BvcnQuc2NvdGlhYmFuay5jb20ifQ.iHLu9IA54PvAfiukEJsvrh5RY0zq_RGz9pU_9pv0Qk9y7Qwoh5RAZk_0P4jLlEQOc_n7k4l76zM9qW3Li_2-5C_uipuA0wIOjVW8HUQ64BZz6AmnSc_AsvAlMhc7xV-Z6YMaKQEdootpN0hGbECMk_BiBz0avawrOgjIIJ9pTA4Nd8BfuTryXz8iZmuLVMMEE55LiH0WUPYGZHoq0Swwwn0sWsM8XXHDJJ1snNQ2X-bK1HZ9ovGel8dWFxjFCzGyDXKjvTgpsI_FSkUD60KMBq7MxHrtP3GuWDA6fG1CfsqsdALOvuScJI8x0topqyU3EDbO8RlCg2c4bt3aqCCZqg&preferred_environment=">Login</a>
        <a class="nav-link" href="/user/register">Register</a>
        <% } else {%>
        <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
